doctype html
html
  block config
  -
      var baseUrl = taskTarget === 'tmp' ? '/' : '/quick-blog/'
      //- var baseUrl = 'https://jestva.github.io/quick-blog/'
  head
    title=title
    meta(name="description" content=description)
    if config.entry.css.embed
      link(rel="stylesheet", href=`${embedPath}` inline)
    //- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")
  body 
      include ../welcome/welcome
      .container 
          block content
          include ../menu/menu
          include ../footer/footer
  //- Work on local
  //- link(rel="stylesheet", href="/style.css")
  link(rel="stylesheet", href=`${baseUrl}style.css`)