extend _component/layout/layout

block config
  - 
    var title = 'About Quick Blog'
    var description = 'Quick blog is one of the quickest tools for writing blog posts'

block content
      h1=title
      p=description
      