extend _component/layout/layout
block config
    -
        var title = "Contact Quick Blog"
        var description = "I'm Dorin and I practice coding every day."
    
block content
    h1=title
    p=description