extend _component/layout/layout
block config
    -
        var title = "Welcome to Quick Blog"
        var description = "This quick blog is made with performance in mind and achieving perfect Google Page Insights score."

block content
    .welcome
        h1=title
        p.welcome__description=description
        a.scroll-down(href="#continue") 
            span Click to continue reading or scroll down
            span.continue-arrow
    .content
        #continue
        p.lead So far we have extended the layout component and included it in our base pages.
        p 
        small We also created variables for title and meta description so we do not have to manually populate those items. 
